<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.auroralove.ftctoken.mapper.DealMapper">
    <sql id="USER">ftc_user</sql>
    <sql id="DEAL">ftc_deal</sql>
    <insert id="newDealRecord" parameterType="com.auroralove.ftctoken.model.DealModel">
        INSERT INTO
        <include refid="DEAL"/>
        (
        tid,
        uid,
        univalent,
        quantity,
        deal_amount,
        deal_date,
        type,
        status,
        phone,
        user_name
        )
        VALUES
        (
        #{tid},
        #{uid},
        #{univalent},
        #{quantity},
        #{deal_amount},
        NOW(),
        #{type},
        #{status},
        #{phone},
        #{user_name}
        )
    </insert>

    <select id="getTradeableAmount" resultType="com.auroralove.ftctoken.model.DealModel">
select t1.uid,(IFNULL(t1.buy_release_amount,0)- IFNULL(t2.sell_amount,0)) as  tradeableAmount from
(select uid,sum(deal_amount) as buy_release_amount from ftc_deal  where type in(0,7) and status=6 GROUP BY uid) as t1 left   join
 (select uid,sum(deal_amount) as sell_amount from ftc_deal  where type=1 and status=6 GROUP BY uid)  as t2 ON t1.uid = t2.uid
 where t1.uid = #{uid}
    </select>

    <select id="getPurchaseDeals" resultType="com.auroralove.ftctoken.model.DealModel">
     SELECT tid,uid,user_name,phone,univalent,quantity,deal_amount,deal_date,status,type from ftc_deal
     where type = 0 and status = 3
    </select>

    <select id="getSellDeals" resultType="com.auroralove.ftctoken.model.DealModel">
    SELECT tid,uid,user_name,phone,univalent,quantity,deal_amount,deal_date,status,type from ftc_deal where type = 1 and status = 3 ORDER BY deal_date
    </select>

    <insert id="newOrder" parameterType="com.auroralove.ftctoken.model.OrderModel" >
        INSERT INTO ftc_order
        (
        oid,
        deal_buy_id,
        deal_sell_id,
        seller_id,
        buyer_id,
        seller_phone,
        seller_name,
        buyer_phone,
        buyer_name,
        order_date,
        status,
        univalent,
        quantity,
        deal_amount
        )
        VALUES
          (
            #{oid},
            #{deal_buy_id},
            #{deal_sell_id},
            #{seller_id},
            #{buyer_id},
            #{seller_phone},
            #{seller_name},
            #{buyer_phone},
            #{buyer_name},
            NOW(),
            #{status},
            #{univalent},
            #{quantity},
            #{deal_amount}
           )
    </insert>

    <insert id="newRewardRecord" parameterType="com.auroralove.ftctoken.model.RewardRecordModel">
        insert into ftc_reward (uid,child_phone,child_id,level,amount,reward_date,status,parent_phone)
        values (#{uid},#{childPhone},#{childId},#{level},#{amount},NOW(),#{status},#{parentPhone})
    </insert>

    <select id="getOrder" resultType="com.auroralove.ftctoken.model.OrderModel">
    SELECT
        oid,
        deal_buy_id,
        deal_sell_id,
        seller_id,
        seller_name,
        buyer_id,
        buyer_name,
        seller_phone,
        buyer_phone,
        status,
        univalent,
        quantity,
        deal_amount,
        pay_way,
        pay_date,
        affirm_date,
        order_date,
        finish_date,
        cancle_date,
        freeze_date
    from ftc_order where oid = #{oid}
    </select>

    <select id="getTotalInfo" resultType="com.auroralove.ftctoken.model.TotalInfoModel">
    select (SELECT IFNULL(count(0),0) from ftc_user )as  regitTotal ,(select IFNULL(count(0),0)  from ftc_user where regist_flag=1)as rechargeTotal
    </select>

    <select id="getRecharegeDeals" resultMap="dealEntity">
    SELECT uid ,tid,oid,univalent*quantity as deal_amount,deal_date ,status,type,univalent,quantity,phone
    from ftc_deal where status =6 and type = 2 and  DATE_SUB(CURDATE(), INTERVAL 30 DAY)  <![CDATA[<= ]]> date(deal_date)
    <if test="phone!=null">
        and phone = #{phone}
    </if>
     order by deal_date desc
    </select>
    <select id="getDealRecord" resultMap="dealEntity">
    SELECT uid ,tid,oid,univalent*quantity as deal_amount,deal_date ,status,type,univalent,quantity,phone
    from ftc_deal where uid = #{id} and type in (0,1) order by deal_date desc
    </select>
    <select id="dealRecordList" resultMap="dealEntity">
    SELECT uid ,tid,oid,univalent*quantity as deal_amount,deal_date ,status,type,univalent,quantity,phone
    from ftc_deal where DATE_SUB(CURDATE(), INTERVAL 30 DAY)  <![CDATA[<= ]]> date(deal_date)
    <if test="status!=null">
       and status = #{status}
    </if>
    <if test="type!=null">
       and  type =#{type}
    </if>
    order by deal_date desc
    </select>

    <select id="getDealTotal" resultType="java.lang.Integer">
        SELECT count(0)
        from ftc_deal where DATE_SUB(CURDATE(), INTERVAL 30 DAY )  <![CDATA[<= ]]> date(deal_date)
        <if test="status!=null">
            and status = #{status}
        </if>
        <if test="type!=null">
            and  type =#{type}
        </if>
    </select>

    <select id="getAssertDealRecord" resultMap="dealEntity">
    SELECT uid ,tid,oid, deal_amount,deal_date ,status,type,univalent,quantity,phone
    from ftc_deal where uid = #{id} and type in (0,1,7) and status=6 order by deal_date desc
    </select>

    <select id="getDealStatus" resultMap="dealEntity">
    SELECT uid ,tid,oid,deal_amount,deal_date ,status,type,univalent,quantity,phone
    from ftc_deal where uid = #{id} and type in (0,1) and status in(3,4,5,8)
    </select>

    <select id="getCancleAction" resultMap="dealEntity">
    SELECT uid ,tid,oid,deal_amount,deal_date ,status,type,univalent,quantity,phone
    from ftc_deal where uid = #{uid} and status =9 and to_days(deal_date)=to_days(NOW())
    </select>

    <select id="getSingleSell" resultMap="dealEntity">
    SELECT uid ,tid,oid,deal_amount,deal_date ,status,type,univalent,quantity,phone
    from ftc_deal where uid = #{id} and type =1 and to_days(deal_date)=to_days(NOW())
    </select>

    <select id="getTimeoutOrder" resultType="com.auroralove.ftctoken.model.OrderModel">
    SELECT oid,status
    from ftc_order where status = 4  and DATE_SUB(CURDATE(), INTERVAL 1 HOUR  )  <![CDATA[>= ]]> date(order_date) union all
    SELECT oid,status
    from ftc_order where status = 5 and DATE_SUB(CURDATE(), INTERVAL 2 HOUR  )  <![CDATA[>= ]]> date(affirm_date)
    </select>


    <select id="getUnfinishedDeal" resultType="java.lang.Integer">
    SELECT IFNULL(count(1),0)
    from ftc_deal where uid = #{uid} and status in (3,4,5,8)
    </select>

    <select id="getRewardRecord" resultType="com.auroralove.ftctoken.model.RewardRecordModel" >
    SELECT rid,uid,child_id as childId,child_phone as childPhone,level,amount,reward_date as rewardDate
    from ftc_reward where uid = #{uid}
    </select>

    <select id="getOrderList" resultMap="dealEntity">
    SELECT uid ,tid,oid, deal_amount,deal_date ,status,type,univalent,quantity,phone
    from ftc_deal where 1=1
        <if test="status!=null">and status=#{status}</if>
        <if test="type!=null">and type=#{type}</if>
     order by deal_date desc
    </select>
    <select id="getOrderCount" resultType="java.lang.Integer">
    SELECT IFNULL(count(0),0)
    from ftc_deal where 1=1
        <if test="status!=null">and status=#{status}</if>
        <if test="type!=null">and type=#{type}</if>
    </select>

    <update id="updateDealStatus" >
        update ftc_deal
        <set>
            status = #{dealStatus}
        </set>
        where tid =#{did}
    </update>

    <update id="updateOrder" parameterType="com.auroralove.ftctoken.model.OrderModel">
        update ftc_order
        <set>
          <if test="status==5">
              status = #{status},
              pay_way = #{pay_way},
              pay_date = NOW(),
          </if>
            <if test="status==6">
                status = #{status},
                affirm_date = NOW(),
                finish_date = NOW()
            </if>
            <if test="status==9">
                status = #{status},
                cancle_date = NOW(),
            </if>
            <if test="status==8">
                status = #{status},
                freeze_date = NOW(),
            </if>
            <if test="status==10">
                status = #{status}
            </if>
        </set>
        where oid =#{oid}
    </update>
    <resultMap type="com.auroralove.ftctoken.entity.DealEntity" id="dealEntity">
        <result column="uid" property="id"/>
        <result column="tid" property="did"/>
        <result column="oid" property="oid"/>
        <result column="deal_amount" property="tradingAmount"/>
        <result column="deal_date" property="tadingDate"/>
        <result column="status" property="tradingStatus"/>
        <result column="type" property="type"/>
        <result column="univalent" property="univalent"/>
        <result column="quantity" property="quantity"/>
        <result column="phone" property="phone"/>
    </resultMap>
    <resultMap type="com.auroralove.ftctoken.model.OrderModel" id="OrderModel">
        <result column="oid" property="orderId"/>
        <result column="deal_buy_id" property="dealBuyId"/>
        <result column="deal_sell_id" property="dealSellId"/>
        <result column="seller_id" property="sellerId"/>
        <result column="buyer_id" property="buyerId"/>
        <result column="seller_phone" property="sellerPhone"/>
        <result column="buyer_phone" property="buyerPhone"/>
        <result column="oder_date" property="orderTime"/>
        <result column="status" property="orderStatus"/>
        <result column="univalent" property="univalent"/>
        <result column="quantity" property="quantity"/>
        <result column="deal_amount" property="amount"/>
        <result column="affirm_date" property="affirmDate"/>
        <result column="put_money_date" property="putMoneyDate"/>
        <result column="finnish_date" property="finnishDate"/>
    </resultMap>

</mapper>
