<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.auroralove.ftctoken.mapper.UserMapper">
    <sql id="USER" >ftc_user</sql>
    <sql id="DEAL" >ftc_deal</sql>
    <sql id="PAYINFO" >ftc_user_payinfo</sql>

    <select id="findByUserphone" resultType="com.auroralove.ftctoken.model.UserModel">
      SELECT id,password FROM ftc_user
      where
      phone=#{phone}
    </select>

    <select id="findUserById" resultType="com.auroralove.ftctoken.model.UserModel">
        SELECT id,phone,password,teamid,admin_status FROM ftc_user
      where
      id=#{id}
    </select>

    <insert id="newUser" parameterType="com.auroralove.ftctoken.model.UserModel">
        INSERT INTO
        <include refid="USER" />
        (
        id,
        parent_id,
        phone,
        password,
        teamid,
        regist_time
        )
        VALUES
        (
        #{id},
        #{parentId},
        #{phone},
        #{passWord},
        #{teamId},
        NOW()
        )
    </insert>

    <insert id="recharge" parameterType="com.auroralove.ftctoken.model.DealModel">
        INSERT INTO
        <include refid="DEAL" />
        (
        tid,
        uid,
        deal_amount,
        deal_date,
        type
        )
        VALUES
        (
        #{dealId},
        #{userId},
        #{amount},
        NOW(),
        #{type}
        )
    </insert>

    <update id="rechargeFlag">
        UPDATE <include refid="USER" />
        SET flag = #{flag}
        WHERE id = #{id}
    </update>
    
     <update id="changeLoginPwd">
        UPDATE <include refid="USER" />
        SET password = #{password}
        WHERE id = #{id}
    </update>
    
     <update id="changePayPwd">
        UPDATE <include refid="USER" />
        SET PAY_PWD = #{pay_pwd}
        WHERE id = #{id}
    </update>

    <select id="getPayInfo" resultType="com.auroralove.ftctoken.model.UserPayModel">
        SELECT pid,uid,name,card_id,bank_name,ali_pay,ali_url,wechat_pay,wechat_url,bank_address
        WHERE uid = #{id}
    </select>
</mapper>